.about-me {
  padding: 20px;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

.about-me h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.about-me h3 {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.about-me p {
  font-size: 1.2em;
  line-height: 1.6;
}

.about-me ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about-me li {
  font-size: 1.2em;
  margin-bottom: 5px;
}