.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* 加深背景色 */
}

.modal-content {
    background-color: #fff; /* 白色背景 */
    color: #333; /* 深色文字 */
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px; /* 圓角 */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

.modal-header {
    text-align: center;
    margin-bottom: 20px;
}

.modal-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.modal-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.modal-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.modal-details {
    flex: 2;
    text-align: left;
}

.modal-details p {
    margin: 10px 0;
}